/*

 Theme Name:   Hello Elementor Child
 Theme URI:    http://example.com/hello-elementor-child/
 Description:  To extend the functionality of the Hello Elementor theme.
 Author:       Curetrip
 Author URI:   http://example.com
 Template:     hello-elementor
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  hello-elementor-child


*/